#game-third-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.game-third-header {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin: 25px;
  align-items: center;
}
.player-info {
  color: white;
}
.player-info-higlight {
  color: #a17425;
  transform: scale(1.4);
}

.player-info h2 {
  font-size: 2.5rem;
  color: inherit;
}
.player-info p {
  font-size: 2rem;
  color: inherit;
}
.timer-container {
  text-align: center;
  margin-bottom: 20px;
}

#timer-block {
  width: 200px;
  height: 60px;
  font-size: x-large;
  background-color: #e6da9d;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

#cards-container {
  display: grid;
  /* grid-template-columns: repeat(4, 200px); */
  gap: 30px;
  padding: 30px 100px;
  justify-content: center;
}

#cards-container img {
  height: 300px;
  width: 200px;
}
#cards-container img:hover {
  height: 300px;
  width: 200px;
  transform: scale(1.1);
}
.disabled-img {
  pointer-events: none;
  opacity: 0.5;
}
