#game-fourth-screen {
  justify-content: center;
}

.result-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
  font-size: 3.2rem;
  color: white;
}

.winner,
.loser {
  padding: 12px 24px;
  margin: 10px 0;
}

#reset-btn {
  padding: 8px 20px;
  font-size: 2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: beige;
  color: brown;
}
#reset-btn:hover {
  background-color: darkred;
  color: beige;
  transform: scale(2.1);
}
